.inputContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input{
    width: 100%;
    max-width: 600px;
    height: 36px;
    border-radius: 20px;
    border: none;
    padding: 0 1.6rem;
    font-size: 1.6rem;
}