/* reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base de rem */
html{
    font-size: 62.5%;
}

/* corpo da página */
body{
    width: 100%;
    font-size: 1.6rem;
    background-color: #f7e4c5;
    color: var(--black-smooth);
    padding-top: 70px;
    overflow-x: hidden;
}

/* Tamanho mínimo da página */

html,
body,
#root {
    min-height: 100%;
}

#root {
    min-height: 100vh;
}

/* imagens */
img{
    display: block;
    max-width: 100%;
}

/* botões */
button{
    font-family: inherit;
    border: none;
}

/* inputs */
input{
    font-family: inherit;
    outline: none;
}

/* links */
a{
    text-decoration: none;
    color: inherit;
    font-family: var(--font-sans);
}

h1{
    font-family: var(--font-serif);
}

p{
    font-family: var(--font-sans);
}