.navBar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--black-smooth);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* logo */
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 40px;
}

/* busca */
.search{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 2rem;
}

/* Links */
.LinkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.linker{
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transform: all 0.2s ease-in-out;
    font-weight: 500;
}

.linker:hover{
    transform: translateY(-2px);
}

.searchBtn{
    background-color: var(--black-smooth);
    color: var(--gold);
}

.contactBtn{
    background-color: var(--gold);
    color: var(--black-smooth);
}
